n8n-workflows/S1-shipping-status-ingestion.json
{
  "name": "S1: Shipping Status Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CORE_API_URL }}/api/trpc/shippingAutomation.getActiveShipments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "json",
              "value": "={\"tenant_id\": \"{{ $json.tenant_id }}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-active-shipments",
      "name": "Get Active Shipments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-webhook-auth",
          "name": "N8N Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-shipments",
              "leftValue": "={{ $json.result.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-shipments",
      "name": "Has Shipments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.data",
        "options": {}
      },
      "id": "split-shipments",
      "name": "Split Shipments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CARRIER_API_URL }}/track",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tracking_number",
              "value": "={{ $json.tracking_number }}"
            },
            {
              "name": "carrier",
              "value": "={{ $json.carrier }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-carrier-api",
      "name": "Call Carrier API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "carrier-api-auth",
          "name": "Carrier API Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Transform carrier response to standard format\nconst input = $input.item.json;\nconst shipment = $('Split Shipments').item.json;\n\n// Handle different carrier response formats\nlet events = [];\n\nif (input.events) {\n  // Standard format\n  events = input.events;\n} else if (input.tracking_history) {\n  // Aramex format\n  events = input.tracking_history.map(e => ({\n    status: e.UpdateCode,\n    location: e.UpdateLocation,\n    description: e.UpdateDescription,\n    timestamp: e.UpdateDateTime\n  }));\n} else if (input.shipment_status) {\n  // SMSA format\n  events = [{\n    status: input.shipment_status,\n    location: input.current_location,\n    description: input.status_description,\n    timestamp: input.last_update\n  }];\n}\n\nreturn events.map(event => ({\n  json: {\n    tracking_number: shipment.tracking_number,\n    provider: shipment.carrier,\n    provider_status: event.status,\n    location: event.location,\n    description: event.description,\n    occurred_at: event.timestamp || new Date().toISOString(),\n    tenant_id: shipment.tenant_id\n  }\n}));"
      },
      "id": "transform-response",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CORE_API_URL }}/api/trpc/shippingAutomation.ingestStatus",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"events\": [{\n    \"tracking_number\": \"{{ $json.tracking_number }}\",\n    \"provider\": \"{{ $json.provider }}\",\n    \"provider_status\": \"{{ $json.provider_status }}\",\n    \"location\": \"{{ $json.location }}\",\n    \"description\": \"{{ $json.description }}\",\n    \"occurred_at\": \"{{ $json.occurred_at }}\"\n  }],\n  \"ingestion_mode\": \"api\"\n}",
        "options": {}
      },
      "id": "ingest-status",
      "name": "Ingest Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-webhook-auth",
          "name": "N8N Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.result.data.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CORE_API_URL }}/api/trpc/n8nWorkflows.logDeadLetter",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"S1\",\n  \"tenant_id\": \"{{ $json.tenant_id }}\",\n  \"payload\": {{ JSON.stringify($json) }},\n  \"error_message\": \"Failed to ingest shipping status\"\n}",
        "options": {}
      },
      "id": "log-dead-letter",
      "name": "Log Dead Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-webhook-auth",
          "name": "N8N Webhook Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-shipments",
      "name": "No Shipments",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {},
      "id": "success-end",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1850, 100]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Get Active Shipments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Shipments": {
      "main": [
        [
          {
            "node": "Has Shipments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Shipments?": {
      "main": [
        [
          {
            "node": "Split Shipments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Shipments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Shipments": {
      "main": [
        [
          {
            "node": "Call Carrier API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Carrier API": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "Ingest Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Status": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Dead Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "staticData": null,
  "tags": [
    {
      "name": "shipping",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "automation",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
